input[type=text], select {
    width: 20%;
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    color: black;
  }
  
  input[type=submit] {
    width: 20%;
    background-color : green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;

  }
  body {
      background-image: url(https://bit.ly/2St4NMN);
      color: honeydew;
      
  }
  .arrow {
      text-align: center;
      color: black;
      font-size: medium;
  }
  h1 {
      text-align: center;
      font-size: 35px;
  }
  
  .jumb{
      color: white;
      background-color:black;

  }
  .cd-md-6 {
      float: left;
      padding: 30px;
  }
  h2 {
      color: black;
      font-weight: bold;
      font-style: italic;
  }
  h3 {
      color: coral;
      font-style: italic;
      font-weight: bold;
  }